#expand {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
}

#toggle:checked ~ #expand {
  height: 200px;
}

.helper {
  display: block;
  padding: 10px;
  border-radius: 5px;
  /*transition: background-color 0.5s ease-in-out;*/
}

.confirmButton {
  display: none;
}

.helper:hover {
  font-size: 120%;
  color: #FFF;
  background-color: #333;
}

.helper:hover .confirmButton {
  display: initial;
}

.navbar {
  background-color: #FFF;
}

/*.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  background-color: #EEE;
  width: 100%;
}

@media (min-width: 544px) {
    .navbar {
      border-radius: 0.25rem; } }

#root {
  margin-top: 90px;
}

@media only screen and (min-width: 544px) {
  #root {
    margin-top: 56px;
  }
}*/
